body {
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#container {
    margin: 20px 0;
}

hr {
    border-top-color:rgb(70, 136, 71);
    border-top-width:1px;
}

a {
    color: rgb(34, 136, 99);
}

a:hover {
    color: rgb(34, 174, 137);
    text-decoration:none;
}

@media(min-width: 768px) {
    body {
        align-items: center;
    }

    #container {
        width: 750px;
    }
}
